<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="MySQL" type="MySql.Data.MySqlClient.MySqlConfiguration, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data><MySQL>
    <Replication>
      <ServerGroups>
        <Group name="Fabric" groupType="MySql.Fabric.FabricServerGroup, MySql.Fabric.Plugin">
          <Servers>
            <Server name="fabric" connectionstring="server=;port=32275;uid=;password=;" />
          </Servers>
        </Group>
      </ServerGroups>
    </Replication>
  </MySQL><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IProductService" />
                <binding name="BasicHttpBinding_ICustomerService" />
                <binding name="BasicHttpBinding_IProductService1" />
                <binding name="BasicHttpBinding_IStoreService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SuperStoreWebService2/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService"
                contract="SuperStoreWebService.IProductService" name="BasicHttpBinding_IProductService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SuperStoreWebService2/CustomerService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICustomerService"
                contract="CustomerService.ICustomerService" name="BasicHttpBinding_ICustomerService" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SuperStoreWebService2/ProductService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductService1"
                contract="ProductService.IProductService" name="BasicHttpBinding_IProductService1" />
            <endpoint address="http://localhost:8733/Design_Time_Addresses/SuperStoreWebService2/StoreService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStoreService"
                contract="StoreService.IStoreService" name="BasicHttpBinding_IStoreService" />
        </client>
    </system.serviceModel>
</configuration>